* {
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
}
body {
  background-color: rgb(60, 60, 60);
}
/* Centralizar Div pai */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.logo {
  width: 64px;
  height: 64px;
}
.loginBar {
  padding: 20px;
  text-align: center;
  background-color: rgb(30, 30, 30);
  width: 30%;
  height: 60%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(30, 30, 30);
}
.loginBarTitle {
  padding-top: 20px;
  color: white;
}
.loginBarTitle2 {
  padding-bottom: 20px;
  color: white;
}
#inputArea {
  padding-left: 20px;
  width: 80%;
  height: 30px;
  margin: 5px;
  outline: none;
  border: none;
  border-bottom: 2px solid lightgray;
  background-color: rgb(30, 30, 30);
  color: white;
  ]
  /* border-radius: 20px; */
}
.btnSubmit {
  color: white;
  border-style: none;
  background: rgb(150, 0, 250);
  margin-top: 10%;
  width: 60%;
  height: 30px;
  border-radius: 40px;
}
.btnSubmit:hover {
  background: rgb(120, 0, 200);
}
.submitAction {
  color: white;
  text-decoration: none;
}
.signText {
  padding-top: 20px;
  font-size: x-small;
  color: white;
}
.signUp {
  color: #0881f3;
  text-decoration: none;
}
