* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(15, 15, 30);
  color: white;
}
.spacer {
  margin-top: 1vh;
  margin-bottom: 1vh;
  color: white;
}
.content-container {
  margin-left: 15vw;
}
.top-text {
  padding-top: 3vh;
  padding-bottom: 2vh;
  margin: auto;
  justify-content: center;
  display: flex;
  font-weight: bold;
  font-size: 3rem;
}
input[type="text"] {
  text-align: center;
  margin: auto;
  background-color: rgb(50, 50, 50);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  width: 30vh;
  height: 4vh;
  border: 2px solid whitesmoke;
  border-radius: 50px;
  outline: none;
}
.side-panel {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 1vw;
  margin-top: 2vh;
  margin-right: 3vw;
  background-color: rgb(120, 50, 150);
  width: 10vw;
  height: 92vh;
  position: fixed;
}
.side-panel-main-text {
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.side-panel-text {
  text-decoration: none;
  font-style: normal;
  color: rgb(150, 150, 255);
  font-weight: bold;
}
.side-panel-text:hover {
  color: rgb(170, 170, 255);
  font-size: large;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.content-window {
  border-radius: 10px;
  background-color: rgb(30, 30, 30);
  margin: 0.3rem;
  padding: 0.5rem;
  width: 9vw;
  height: 27vh;
}
.content-window-image {
  width: 100%;
  border-radius: 7px;
}
.content-top-text {
  font-size: 2rem;
  color: white;
  padding: 1rem;
}
.content-window-artist {
  padding-top: 0.5rem;
}
.player {
  align-items: center;
  background-color: rgb(26, 26, 26);
  bottom: 1rem;
  position: fixed;
  border: 2px solid whitesmoke;
  border-radius: 50px;
  display: flex;
  left: calc(10vw + (100vw - 10vw) / 2);
  width: 40vw;
  height: 8vh;
  transform: translateX(-50%);
}
.player-content {
  display: flex;
  align-items: center;
}
.player-image {
  left: 0;
  margin: 1vh;
  width: 6.5vh;
  border-radius: 50px;
}
.player-content-text {
  margin: 0.5vw;
}
.player-content-artist {
  margin: 0.5vw 0.5vw;
  font-size: smaller;
  font-weight: lighter;
}
.player-content-favorite {
  margin: auto;
}
.player-controls {
  margin: auto;
}
