* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(30, 30, 30);
  color: white;
}
.spacer {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.content-container {
  margin-left: 15vw;
}
.top-text {
  padding-top: 3vh;
  padding-bottom: 2vh;
  margin: auto;
  justify-content: center;
  display: flex;
  font-weight: bold;
  font-size: 3rem;
}
input[type="text"] {
  text-align: center;
  margin: auto;
  background-color: rgb(50, 50, 50);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  width: 30vh;
  height: 4vh;
  border: 2px solid white;
  border-radius: 50px;
  outline: none;
}
.side-panel {
  padding: 1vw;
  margin-right: 3vw;
  background-color: rgb(50, 50, 50);
  width: 10vw;
  height: 100vh;
  position: fixed;
}
.side-panel-main-text {
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.side-panel-text {
  text-decoration: none;
  font-style: normal;
  color: rgb(120, 120, 255);
  font-weight: bold;
}
.side-panel-text:hover {
  color: rgb(170, 170, 255);
  font-size: large;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.content-top-text {
  font-size: 2rem;
  color: white;
  padding: 1rem;
}
.content-window {
  border-radius: 10px;
  background-color: rgb(10, 10, 10);
  margin: 0.3rem;
  width: 5vw;
}
